.donations-list {
}

.donations-list__details {
  clear: both;
}

.donations-list__item {
  padding: 15px;
  margin-bottom: 15px;
  background: $color-light;
  &:last-child {
    margin-bottom: 0;
  }
}

.donations-list__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 10px;
  img {
    width: 50px;
  }
}

.donations-list__name {
  display: inline-block;
  padding-top: 9px;
  font-size: 19px;
}

.donations-list__amount {
  color: $color-jg;
}