$color-light: #e8e8e8;
$color-jg: #ac29b5;
$color-sec: #a2a2a2;

*, .btn {
  border-radius: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background: $color-light;
}

h1 {
  margin-top: 0;
}

a {
  color: $color-jg;
}

body .container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 13px;
  background: #fff;
}

.no-margin {
  margin: 0;
}

@import './List/List';
@import './Charity/Charity';