.charity-details {
  margin-bottom: 20px;
}

.charity-details__img {
  margin: 5px;
  width: 85px;
  margin-right: 20px;
}

.charity-details__wrapper {
  border-bottom: 25px solid $color-light;
  padding-bottom: 15px;
}

.charity-details__desc {
  font-size: 16px;
}